textarea {
  resize: none;
}

.form {
  &__wrapper {
    height: 100vh;
    min-height: 800px;
  }
}

body {
  background-color:whitesmoke;
}

.error-hint {
  color: red;
  font-size: 0.5rem;
}

.hidden {
  display: none;
}

#error-message {
  background-color: yellow;
  color: red;
  text-align: center;
  width: 100%;
  padding: 10px;
  display: none;
}

.error-msg {
  color: red;
}